img, h1{
    text-align: center;

}

body {
    background-color:rgb(0, 106, 255);
}

p {
    font-size: 20px;
}
nav a{
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    color: black;
    background-color: yellow;
    text-align: center;
}

table{
    border-collapse: collapse;
    margin-left:10px;
}

tr, td, th{
    border:1px solid black ;
    text-align: center;
    padding: 10px 30px;
}

footer p{
    border: 1px solid darkblue;
    text-align: center;
    background-color: yellow;
    color:black ;
}
